<%= form_for([:user, @task]) do |f| %>
  <div><%= f.label :due, "Due Date:" %>
    <%= f.date_select :due %><br>
    <%= f.fields_for :maintenances, Maintenance.new do |m| %>
      <p><%= m.label :complete, 'Complete:' %>
      <%= m.check_box :complete %></p>
  </div>

  <fieldset>
    <legend>Select Tanks</legend>
      <%= m.collection_check_boxes :tank_id, current_user.tanks.each, :id, :name %><br>
    <% end %>
  </fieldset>
<br>
  <div>
    <!-- Select or create tasks -->
    <p><%= f.label :title, "Select Task:" %>
      <%= f.collection_select :title, Task.all, :id, :title, {include_blank: 'Create New Task'} %>
      <%= f.text_field :title %></p>
    <p><%= f.label :notes %>:<br>
    <%= f.text_area :notes %></p>

  </div>

  <%= f.submit %>
<% end %>

