<%= form_for([ :user, @tank]) do |f| %>
  <%= f.hidden_field :user_id %>
  <p><%= f.label :name %>:
    <%= f.text_field :name %></p>
  <p><%= f.label :size, "Size (gallons)" %>:
    <%= f.number_field :size %><br></p>
  <p><%= f.label :description %>:<br>
    <%= f.text_area :description %></p>
  <p><%= f.label :image, "Upload Image" %>:
    <%= f.text_field :image %></p>
  <%= f.submit %>
<% end %>