<h1>TankMate</h1>
<p>Track and maintain your aquariums with ease!</p>
<h2>Recent Additions</h2>
<ul>
<% @tanks.recent.each do |t| %>
  <li>
    Owner: <%= t.user.name %><br>
    Tank: <%= link_to t.name, user_tank_path(t.user, t) %> - <%= t.size %> gallons<br>
    <% unless t.image.blank? %>
      <img src="<%= t.image %>" alt="<%= t.name.capitalize %>" height="100"><br>
    <% end %>
    <%= t.description %><br><br>
  </li>
<% end %>
</ul>