<h1><%= @tank.name.upcase %></h1>

<h2>Size: <%= @tank.size %> gallons</h2>

<% if @tank.image %>
  <img src="<%= @tank.image %>" alt="<%= @tank.name.capitalize %> Image" height="300">
<% else %>
  No Image Uploaded
<% end %>

<h3>Description:</h3>
<p><%= @tank.description %></p>

<h3>Stock List:</h3>
<div>
  <h4>Fish:</h4>
  <% @tank.fish.each do |f| %>
    <%= f.quantity %> <%= f.species.pluralize(f.quantity) %> - <img src="<%= f.image %>" alt="<%= f.species.capitalize %>" height="50"><br>
  <% end %>
</div>

<div>
  <h4>Plants:</h4>
  <% @tank.plants.each do |p| %>
    <%= p.quantity %> <%= p.species.pluralize(p.quantity) %> - <img src="<%= p.image %>" alt="<%= p.species.capitalize %>" height="50"><br>
  <% end %>
</div>
<br>

<!--Not sure if I want these buttons in here.-->
<% if @tank.user == current_user %>
    <%= button_to "Update Tank", edit_user_tank_path, method: :get %>
    <%= button_to "Delete Tank", user_tank_path, method: :delete %>
<% end %>

