<h1><%= @tank.name.upcase %></h1>

<h2>Size: <%= @tank.size %> gallons</h2>

<% if !@tank.image.blank? %>
  <img src="<%= @tank.image %>" alt="<%= @tank.name.capitalize %> Image" height="300">
<% else %>
  No Image Uploaded
<% end %>

<h3>Description:</h3>
<p><%= @tank.description %></p>

<% if @tank.user == current_user %>
  <%= button_to "Update Tank Details", edit_user_tank_path, method: :get %>
<% end %>

<h3>Stock List:</h3>
<div>
  <h4>Fish:</h4>
  <%= render @tank.fish %>
  <% if @tank.user == current_user %>
    <br>
    <%= button_to "Add Fish", new_tank_fish_path(@tank), method: :get %>
  <% end %>
</div>

<div>
  <h4>Plants:</h4>
  <%= render @tank.plants %>
  <% if @tank.user == current_user %>
    <br>
    <%= button_to "Add Plants", new_tank_plant_path(@tank), method: :get %>
  <% end %>
</div>
<% if @tank.user != current_user %>
  <br>
  <%= button_to "#{@tank.user.name}'s Tanks", user_path(@tank.user_id), method: :get %>
<% end %>

