<h1><%= @user.name %>'s Tanks</h1>
<% @user.tanks.each do |t| %>
  <%= link_to t.name, user_tank_path(@user, t) %> - <%= t.size %><br>
  <% if t.image %>
    <img src="<%= t.image %>" alt="<%= t.name.capitalize %>" height="100">
  <% end %>
  <br>

<% end %>
