<h1><%= @user.name %></h1>
<div>
  <h2>Stats</h2>
  <p>Total tanks: <%= @user.tanks.count %></p>
  <p>Total gallons: <%= @user.gallons %></p>
  <p>Total fish: <%= @user.fish_count %></p>
  <p>Total plants: <%= @user.plants_count %></p>
  <p>Completed Tasks: WRITE METHOD</p>
  <p>Incomplete Tasks: WRITE METHOD</p>
</div>

<div>
  <h2>Tanks</h2>
  <% @user.tanks.each do |t| %>
    <%= link_to t.name, user_tank_path(@user, t) %> - <%= t.size %> gallons<br>
    <% unless t.image.blank? %>
      <img src="<%= t.image %>" alt="<%= t.name.capitalize %>" height="100"><br>
    <% end %>
    <% if @user == current_user %>
      <%= button_to "Update Tank", edit_user_tank_path(@user, t), method: :get %>
      <%= button_to "Delete Tank", user_tank_path(@user, t), method: :delete %>
    <% end %>
    <br>
  <% end %>

  <% if @user == current_user %>
    <%= button_to "Create Tank", new_user_tank_path(@user), method: :get %>
  <% end %>
</div>