<h1>Update <%= @maintenance.tank.name %> Maintenance</h1>
<h2>Task: <%= @maintenance.task.title %></h2>
<%= render 'errors' %>
<%= render 'form' %>
<%= button_to "Delete Scheduled Maintenance", user_maintenance_path, method: :delete %>