

<h1><%= link_to "#{@user.name}'s", user_path(@user) %> Tank Maintenance Log</h1>
<% if @user == current_user %>
  <%= button_to "Schedule Maintenance", new_user_maintenance_path(@user), method: :get %>
<% end %>
<br>
<div>
  <table>
    <tr>
      <th>Status</th>
      <th>Date</th>
      <th>Task</th>
      <th>Tank</th>
    </tr>
    <tr>
      <%= form_tag("/users/#{@user.id}/maintenances", method: 'get') do %>
        <td><%= select_tag 'status', options_for_select(['Complete', 'Incomplete']), include_blank: "Filter by Status" %></td>
        <td><%= select_tag 'due', options_for_select(['Today', 'Upcoming', 'Overdue']), include_blank: "Filter by Date" %></td>
        <td><%= select_tag 'task', options_from_collection_for_select(@user.tasks.uniq, 'id', 'title'), include_blank: "Filter by Task" %></td>
        <td><%= select_tag 'tank', options_from_collection_for_select(@user.tanks, 'id', 'name'), include_blank: "Filter by Tank" %></td>
        <td><%= submit_tag 'Filter' %></td>
      <% end %>

    </tr>
    <% @maintenances.order(:due).each do |m| %>
      <tr>
        <td><%= m.status %></td>
        <td><%= m.due %></td>
        <td><%= m.task.title %></td>
        <td><%= link_to m.tank.name, user_tank_path(@user, m.tank) %></td>
        <% if @user == current_user %>
          <td><%= link_to "Update", edit_user_maintenance_path(@user, m), method: :get %></td>
        <% end %>
      </tr>
    <% if m.complete %>
      <tr>
        <td></td>
        <td valign="top">Notes:</td>
        <td colspan="4"><%= m.notes %></td></tr>
      <% end %>
    <% end %>
  </table>
</div>