<!DOCTYPE html>
<html>
  <head>
    <title>Tankmate</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
          <a class="navbar-brand" href="<%= root_url %>">Home</a>
          <% if user_signed_in? %>
            <a class="navbar-brand" href="<%= user_path(current_user.id) %>"/>Profile</a>
            <a class="navbar-brand" <%= link_to('Log Out', destroy_user_session_path, method: :delete) %></a>
          <% else %>
            <a class="navbar-brand" href="<%= new_user_registration_path %>">Sign Up</a>
            <a class="navbar-brand" href="<%= new_user_session_path %>">Sign In</a>
          <% end %>
      </div>
    </div>


    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
